:root {
    --bodywidth: 100%;
    --bodyheight: 100vh;
    --tabsectionw: 20%;
    --tabsectionh: 80%;
    --tabbuttonsize: 20%;
}

body {
    display: flex;
    width: var(--bodywidth);
    overflow-x: hidden;
    height: var(--bodyheight);
    background-color: #5c5e5f;
}

#tabsection {
    display: block;
    width: var(--tabsectionw);
    height: var(--tabsectionh);
}

#tabbutton {
    display: block;
    width: var(--tabbuttonsize);
    height: calc(var(--tabbuttonsize) * (var(--tabsectionw) / (var(--tabsectionh) * 100vh)));
    background-color: rosybrown;
    cursor: pointer;
}

#tabcontents {
    display: none;
    width: 100%;
    height: calc(718.3129px);
    background-color: #FFFFFF;
}

.tablinks {
    display: block;
    width: 100%;
    height: 20%;
    background-color: white;
    font-size: 150%;
    text-align: center;
    align-content: center;
    border-top: 1px solid black;
    cursor: pointer;
}

#main {
    display: flexbox;
    position: absolute;
    left: 25%;
    width: 50%;
    height: 100vh;
    border: 1px solid black;
}

.whiteText {
    color: #FFFFFF;
    padding: 5%;
}

#main h1 {
    text-align: center;
}

#mainDescription {
    font-size: 120%;
}