:root {
    --bodywidth: 100%;
    --bodyheight: 100vh;
    --tabsectionw: 20%;
    --tabsectionh: 80%;
    --tabbuttonsize: 20%;
}

body {
    display: flex;
    width: var(--bodywidth);
    overflow-x: hidden;
    height: var(--bodyheight);
    background-color: #5c5e5f;
}

#tabsection {
    display: block;
    width: var(--tabsectionw);
    height: var(--tabsectionh);
}

#tabbutton {
    display: block;
    width: var(--tabbuttonsize);
    height: calc(var(--tabbuttonsize) * (var(--tabsectionw) / (var(--tabsectionh) * 100vh)));
    background-color: rosybrown;
    cursor: pointer;
}

#tabcontents {
    display: none;
    width: 100%;
    height: calc(718.3129px);
    background-color: #FFFFFF;
}

.tablinks {
    display: block;
    width: 100%;
    height: 20%;
    background-color: white;
    font-size: 150%;
    text-align: center;
    align-content: center;
    border-top: 1px solid black;
    cursor: pointer;
}

#descriptions {
    position: absolute;
    top: 5%;
    left: 25%;
    width: 50%;
    height: 20%;
    border: 1px solid rosybrown;
}

#descriptions p {
    width: 100%;
    height: 100%;
    margin: 0;
    color: #FFFFFF;
    font-size: 200%;
    text-align: center;
    align-content: center;
}

#linkSection {
    display: flex;
    position: absolute;
    left: 25%;
    top: 35%;
    width: 50%;
    justify-content: center;
}

#apSection {
    width: fit-content;
    height: 100%;
    color: #FFFFFF;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    border: 1px solid black;
}

#apSection h2 {
    text-align: center;
    justify-content: center;
}

#apLinks {
    padding: 0;
}

#apLinks li {
    justify-content: center;
    margin-top: 20%;
}

li a {
    color: #FFFFFF;
}